body {
    background-color: black;
    background-image: url('../images/about.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.back-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: black;
    color: white;
}