body {
    background-color: black;
    background-image: url('../images/home.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../images/ex1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    border-radius:10px ;
    text-shadow: 0px 20px 20px 5px grey;
}

h1 {
    font-size: 33px;
    text-align: center;
    background-color: rgb(3, 33, 53);
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3{
    box-shadow: 0px 10px 10px 0px grey;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.back-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: black;
    color: white;
}