
.a{
    
    height: 55px;
    width: 800px;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(245, 247, 168);
}
body{
    background-image: url("../images/blackblur.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
}
.jk{
    margin-left: 6%;
    margin-top: 2%;
}
h2{
    text-align: center;
    font-size: 50px;
    background-color: rgb(24, 52, 70);
    
}
pre{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: azure;
}
.footer{
   background-color: rgb(253, 177, 37);
   height: 300px;
   width: 1440px;
   color: black;
}