.a{
    
    height: 55px;
    width: 800px;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(112, 102, 7);
}
body{
    background-image: url("../images/jhf.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    
}
.jk{
    margin-left: 6%;
    margin-top: 2%;
}
h2{
    text-align: center;
    font-size: 50px;
    background-color: rgb(179, 41, 23);
    margin-left: -1%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px rgb(75, 28, 7);
}
pre{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 241, 241);
    margin-left: -1%;
}
.footer{
   background-color:  rgb(102, 225, 241);
   height: 350px;
   width: 1480px;
   color: black;
   margin-left: -1%;
   margin-bottom: -1.8%;
   box-shadow: 0px 10px 10px 0px rgb(39, 1, 1);
}