body {
    background-color: black;
    background-image: url('../images/home.jpg') ;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0.8;
}

.taskbar {
    background-color: #222;
    padding: 4px 22px;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}
#homelogo {
    margin-bottom: 20px;
}

.container {
    margin-top: 100px; /* Adjusted margin */
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-top: 700px; 
    text-shadow: 6px 6px rgb(7, 48, 75);
    text-align: center;
}


.button-container {
    display: flex;
}

.button {
    padding: 5px 10px;
    margin: 14px 10px 7px 5px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #222;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

canvas {
    width: 775px;
    height: 350px;
}