body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 244, 244);
}
header {
    background-color: #0074d9;
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.filters {
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: #0074d9;
}

.back-arrow {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
}